<%= form_with(model: association) do |form| %>
  <% if association.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(association.errors.count, "error") %> prohibited this association from being saved:</h2>

      <ul>
        <% association.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :recipe_id, style: "display: block" %>
    <%= form.select :recipe_id, @recipes %>
  </div>

  <div>
    <%= form.label :ingredient_id, style: "display: block" %>
    <%= form.select :ingredient_id, @ingredients %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.select :unit, @units %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
