<p style="color: green"><%= notice %></p>

<h1><%= t('recipe.title') %></h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div id="<%= dom_id recipe %>">
      <p>
        <strong>Title:</strong>
        <%= recipe.title %>
      </p>
    
      <p>
        <strong>Description:</strong>
        <%= recipe.description %>
      </p>
      
      <p>
        <%= link_to "Show this recipe", recipe %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
