<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @recipe %>" class="flex flex-col justify-center text-center">
  <h2 class="text-xl font-semibold text-blue-950 mb-4">
    <%= @recipe.title %>
  </h2>

  <div class="flex justify-center">
    <img 
      src="<%= @recipe.image.attached? ? url_for(@recipe.image) : image_path('recipes/default.jpeg') %>"
      alt="image"
      class="w-5/12 rounded-lg shadow-lg shadow-blue-950"
    />
  </div>

  <p class="mt-6">
    <%= @recipe.description %>
  </p>

  <div class="mt-6">
    <h3 class="text-lg font-semibold text-blue-950 mb-4">Ingredients</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <% @recipe.ingredients.each do |ingredient| %>
        <div class="flex flex-col justify-center items-center">
          <p class="text-blue-950 font-semibold text-lg mb-2"><%= ingredient.name %></p>
          <p class="text-blue-950 mb-2"><%= ingredient.quantity %></p>
        </div>
      <% end %>
    </div>

  <div class="mt-6">
    <h3 class="text-lg font-semibold text-blue-950 mb-4">Steps</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <% @recipe.steps.each do |step| %>
        <div class="flex flex-col justify-center items-center">
          <p class="text-blue-950 font-semibold text-lg mb-2">Step <%= step.number %></p>
          <p class="text-blue-950 mb-2"><%= step.text %></p>
        </div>
      <% end %>
    </div>
</div>

<!-- <div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div> -->
